extends ../modules/head

block variables
	- var pageTitle = 'Блог'

block content
	// Main Content
	main.main
		// Block List Post
		section.posts
			.postsHead
				.postsHead__wrapp
					h2.postsHead__title Блог
			.wrapper-fluid
				.postsContainer
					.postsContainerItems
						.postsItems
							a(href="#").postsItem
								.postsItem__img
									img(src="img/sliders/usa/slide-2.jpg", alt="alt")
								.postsItem__bg-hover
								.postsItem__text
									.postsItem__text-heading
										h2 Заголовок темы новости
									.postsItem__text-descr
										p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
									.postsItem__text-date
										span 18.09.2019
									.postsItem__text-avtor
										span Автор - Nona Evans
							a(href="#").postsItem
								.postsItem__img
									img(src="img/sliders/usa/slide-3.jpg", alt="alt")
								.postsItem__bg-hover
								.postsItem__text
									.postsItem__text-heading
										h2 Заголовок темы новости
									.postsItem__text-descr
										p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
									.postsItem__text-date
										span 18.09.2019
									.postsItem__text-avtor
										span Автор - Nona Evans
							a(href="#").postsItem
								.postsItem__img
									img(src="img/sliders/usa/slide-1.jpg", alt="alt")
								.postsItem__bg-hover
								.postsItem__text
									.postsItem__text-heading
										h2 Заголовок темы новости
									.postsItem__text-descr
										p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
									.postsItem__text-date
										span 18.09.2019
									.postsItem__text-avtor
										span Автор - Nona Evans
							a(href="#").postsItem
								.postsItem__img
									img(src="img/sliders/usa/slide-2.jpg", alt="alt")
								.postsItem__bg-hover
								.postsItem__text
									.postsItem__text-heading
										h2 Заголовок темы новости
									.postsItem__text-descr
										p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
									.postsItem__text-date
										span 18.09.2019
									.postsItem__text-avtor
										span Автор - Nona Evans
							a(href="#").postsItem
								.postsItem__img
									img(src="img/sliders/usa/slide-1.jpg", alt="alt")
								.postsItem__bg-hover
								.postsItem__text
									.postsItem__text-heading
										h2 Заголовок темы новости
									.postsItem__text-descr
										p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
									.postsItem__text-date
										span 18.09.2019
									.postsItem__text-avtor
										span Автор - Nona Evans
							a(href="#").postsItem
								.postsItem__img
									img(src="img/sliders/usa/slide-3.jpg", alt="alt")
								.postsItem__bg-hover
								.postsItem__text
									.postsItem__text-heading
										h2 Заголовок темы новости
									.postsItem__text-descr
										p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
									.postsItem__text-date
										span 18.09.2019
									.postsItem__text-avtor
										span Автор - Nona Evans
							a(href="#").postsItem
								.postsItem__img
									img(src="img/sliders/usa/slide-2.jpg", alt="alt")
								.postsItem__bg-hover
								.postsItem__text
									.postsItem__text-heading
										h2 Заголовок темы новости
									.postsItem__text-descr
										p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
									.postsItem__text-date
										span 18.09.2019
									.postsItem__text-avtor
										span Автор - Nona Evans
							a(href="#").postsItem
								.postsItem__img
									img(src="img/sliders/usa/slide-1.jpg", alt="alt")
								.postsItem__bg-hover
								.postsItem__text
									.postsItem__text-heading
										h2 Заголовок темы новости
									.postsItem__text-descr
										p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
									.postsItem__text-date
										span 18.09.2019
									.postsItem__text-avtor
										span Автор - Nona Evans
						// Pagination
						.pagin
					// Block Sidebar
					include ../modules/sidebar/sidebar