extends ../modules/head

block variables
	- var pageTitle = 'Название страны'

block content
	// Main Content
	main.main
		section.relocation(style="background-image: url(img/bg/work.jpg)")
			.relocationContainer
				.relocationContainer__title
					h2 Что вы ожидаете от переезда?
				.relocationContainer__btn
					a(href="#").btn-gold Работа
					a(href="#").btn-gold Образование
					a(href="#").btn-gold Развитие бизнеса
					a(href="#").btn-gold Подобрать программу
					a(href="#").btn-gold Спокойное созерцание
		// Description Block
		include ../modules/blocks/description
		// Programm Block
		section.programm
			.programmRightHead
					.programmRightHead__title 
						h2 Подходящие программы
			.wrapper-fluid
				.programmCart
					a(href="#").programmCart__container
						img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
						.programmCart__title ВНЖ Испания
					a(href="#").programmCart__container
						img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
						.programmCart__title ВНЖ Франция
					a(href="#").programmCart__container
						img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
						.programmCart__title ВНЖ Италия
					a(href="#").programmCart__container
						img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
						.programmCart__title Гражданство Доминикана
					a(href="#").programmCart__container
						img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
						.programmCart__title Гражданство Великобритании
					a(href="#").programmCart__container
						img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
						.programmCart__title Гражданство Румынии
		// Block Blog
		section.blog
			.blogHead
				.blogHead__wrapp
					h2.blogHead__title Блог
			.wrapper-fluid
				.blogItems
					a(href="#").blogItem
						.blogItem__img
							img(src="img/sliders/usa/slide-2.jpg", alt="alt")
						.blogItem__bg-hover
						.blogItem__text
							.blogItem__text-heading
								h2 Заголовок темы новости
							.blogItem__text-descr
								p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
							.blogItem__text-date
								span 18.09.2019
							.blogItem__text-avtor
								span Автор - Nona Evans
					a(href="#").blogItem
						.blogItem__img
							img(src="img/sliders/usa/slide-3.jpg", alt="alt")
						.blogItem__bg-hover
						.blogItem__text
							.blogItem__text-heading
								h2 Заголовок темы новости
							.blogItem__text-descr
								p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
							.blogItem__text-date
								span 18.09.2019
							.blogItem__text-avtor
								span Автор - Nona Evans
					a(href="#").blogItem
						.blogItem__img
							img(src="img/sliders/usa/slide-2.jpg", alt="alt")
						.blogItem__bg-hover
						.blogItem__text
							.blogItem__text-heading
								h2 Заголовок темы новости
							.blogItem__text-descr
								p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
							.blogItem__text-date
								span 18.09.2019
							.blogItem__text-avtor
								span Автор - Nona Evans
					a(href="#").blogItem
						.blogItem__img
							img(src="img/sliders/usa/slide-2.jpg", alt="alt")
						.blogItem__bg-hover
						.blogItem__text
							.blogItem__text-heading
								h2 Заголовок темы новости
							.blogItem__text-descr
								p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
							.blogItem__text-date
								span 18.09.2019
							.blogItem__text-avtor
								span Автор - Nona Evans
					a(href="#").blogItem
						.blogItem__img
							img(src="img/sliders/usa/slide-2.jpg", alt="alt")
						.blogItem__bg-hover
						.blogItem__text
							.blogItem__text-heading
								h2 Заголовок темы новости
							.blogItem__text-descr
								p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
							.blogItem__text-date
								span 18.09.2019
							.blogItem__text-avtor
								span Автор - Nona Evans
					a(href="#").blogItem
						.blogItem__img
							img(src="img/sliders/usa/slide-2.jpg", alt="alt")
						.blogItem__bg-hover
						.blogItem__text
							.blogItem__text-heading
								h2 Заголовок темы новости
							.blogItem__text-descr
								p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
							.blogItem__text-date
								span 18.09.2019
							.blogItem__text-avtor
								span Автор - Nona Evans