extends ../modules/head

block variables
	- var pageTitle = 'Главная'

block content
	// Main Content
	main.main
		// Main Screen
		include ../modules/slider/slider
		// Relocation Block
		include ../modules/blocks/relocation
		// Review Block
		include ../modules/blocks/review
		// Work Block
		include ../modules/blocks/work
		// Programm Block
		include ../modules/blocks/programm