extends ../modules/head

block content
	// Main Content
	main.main
		//Block Single Post
		.postBg
		section.posts
			.postsHead
				.postsHead__wrapp
					h2.postsHead__title Блог
			.wrapper
				.postContainer
					article.postArticle
						header
							h1.postArticle__title Дональд Трамп намерен отменить возможность получения гражданства США по рождению
							a(href="").postArticle__category Образование за границей
							.postArticle__date 18 января 2019 в 15:43
							.postArticle__avtor Автор - Nona Evans
						section.postArticle__content
							p Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Собрал повстречался знаках которой агентство скатился однажды бросил ты рот предупредила рекламных коварный безопасную все гор он, дорогу власти несколько страну одна! Подзаголовок, они скатился дорогу своих по всей знаках рыбного великий текст гор речью, залетают о за точках буквенных. Злых.
							img(src="https://dummyimage.com/1300x400/aeaeae/fff", alt="alt")
							p Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Своих, проектах реторический толку текстами не, инициал языкового моей рукопись ведущими заманивший его свой агентство безорфографичный, живет дорогу текста там которое? Все мир это ему подпоясал, города семантика решила лучше, великий языкового взгляд предупреждал снова страну рот там щеке? Толку несколько, осталось реторический семантика рыбными то заманивший дорогу это однажды рекламных, которое, свой взобравшись? Подзаголовок продолжил языкового повстречался она даль?
							img(src="https://dummyimage.com/800x400/aeaeae/fff", alt="alt")
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Семантика его диких о приставка города даже реторический, все путь строчка гор вскоре продолжил пояс послушавшись рот он рекламных lorem прямо переулка злых проектах ее?
						footer.postArticle__tag
							.tags-link
								a(href="#") Гражданство США
								a(href="#") Иммиграция в США
								a(href="#") США
								a(href="#") Трамп
					// Block Sidebar
					include ../modules/sidebar/sidebar
				.postRandom
					h3.postRandom-title Интересные статьи
					.wrapper-fluid
						.blogItems
							a(href="#").blogItem
								.blogItem__img
									img(src="img/sliders/usa/slide-2.jpg", alt="alt")
								.blogItem__bg-hover
								.blogItem__text
									.blogItem__text-heading
										h2 Заголовок темы новости
									.blogItem__text-descr
										p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
									.blogItem__text-date
										span 18.09.2019
									.blogItem__text-avtor
										span Автор - Nona Evans
							a(href="#").blogItem
								.blogItem__img
									img(src="img/sliders/usa/slide-3.jpg", alt="alt")
								.blogItem__bg-hover
								.blogItem__text
									.blogItem__text-heading
										h2 Заголовок темы новости
									.blogItem__text-descr
										p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
									.blogItem__text-date
										span 18.09.2019
									.blogItem__text-avtor
										span Автор - Nona Evans
							a(href="#").blogItem
								.blogItem__img
									img(src="img/sliders/usa/slide-3.jpg", alt="alt")
								.blogItem__bg-hover
								.blogItem__text
									.blogItem__text-heading
										h2 Заголовок темы новости
									.blogItem__text-descr
										p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленький переулка продолжил буквенных не.
									.blogItem__text-date
										span 18.09.2019
									.blogItem__text-avtor
										span Автор - Nona Evans
					