extends ../modules/head

block variables
	- var pageTitle = 'Программа'

block content
	// Main Content
	main.main
		section.programm-pageHeader
				.programm-page
					.programm-page__wrapp
						h2.programm-page__title ВНЖ Испании
		// Description Block
		section.description
			.wrapper
				.descriptionContent
					.descriptionContent__text
						p Возможности карьерного роста за рубежом привлекают многих не только как средство повысить уровень жизни или кардинально сменить свою локацию, но и как перспектива профессионального развития. Повышение квалификации, изучение языков, приобретение ценного опыта, новые деловые связи также чрезвычайно важны как для личностного, так и для карьерного роста. В этом начинании самое главное – удачный старт. Доверив поиск подходящей вам локации, работодателя и вакансий сервису по международной интеграции Oneworldclick, вы откроете для себя новые горизонты.
		// Programm Block
		include ../modules/blocks/programm