extends ../modules/head

block variables
	- var pageTitle = 'Table'

block content
	// Main Content
	.wrapper
		.tableContent
			table
				caption
					h4 Виза в США с собеседованием в Москве. Виза под ключ.
					span Оплата консульского сбора в рублях по курсу посольства США
					span Консульский сбор США — 160USD = 11200 рублей
					span Цены действительны с 21 октября 2019 года
				thead
					tr
						th
						th(colspan="4") Стоимость сервисного сбора
					tr
						th Тип визы
						th 1 виза
						th 2-3 визы
				tbody
					tr
						td Виза США B1/B2 — запись в Москве
						td 19900
						td 17900
					tr
						td Виза США B1/B2 — запись в Москве<br><span>Дополнительный сбор за срочную запись</span>
						td 9900
						td 8900
					tr
						td Виза США B1/B2 — виза под ключ в Екатеринбург
						td 15900
						td 13900
					tr
						td Виза США B1/B2 — виза под ключ в Владивостоке
						td 7500
						td 6500
					tr
						td Продление визы США B1/B2<br><span>Без присутствия</span>
						td 7500
						td 7500
					tr
						td Студенческая виза — F1 (M1)
						td 5990
						td 4990
					tr
						td Виза Work&Travel — J1
						td 5990
						td 4990
					tr
						td Рабочая виза
						td 6990
						td 6490
					tr
						td Транзитная виза в США. Виза для члена экипажа (виза моряка) — С1/D
						td 5990
						td 5000
