.relocation
	display: flex
	background-image: url(../img/bg/bgtrip.jpg)
	background-repeat: no-repeat
	background-position: center top
	background-size: cover
	align-items: flex-start
	justify-content: flex-end
	+md(background-position, center left)
	+sm(background-position, center center)
.relocationContainer
	display: flex
	flex-direction: column
	flex-basis: 46.7%
	+xl(flex-basis, 43.5%)
	+lg(flex-basis, 100%)
	&__title
		background: rgba(0, 0, 0, 0.5)
		padding: 20px 0 20px 30px
		+lg-block
			text-align: center
			padding: 20px 10px 20px 10px
		h2
			font-family: $gotham
			font-size: $title-font-size
			font-weight: 700
			line-height: 30px
			text-transform: uppercase
			color: $white
			+sm(font-size, 24px)
	&__btn
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start
		+lg(align-items, center)
			
		.btn-gold
			margin: 30px 0 0 30px
			+lg-block
				font-size: 16px
				margin: 30px 0 0 0
			&:last-of-type
				margin-bottom: 30px
	&__text
		background: rgba(0, 0, 0, 0.5)
		padding: 20px 0 20px 30px
		+lg(padding, 10px 10px 10px 10px)
	&__heading
		font-family: $gotham
		font-size: $title-font-size
		font-weight: 700
		line-height: 30px
		text-transform: uppercase
		color: $white
		+lg(text-align, center)
		+sm(font-size, 24px)
	&__descr
		font-family: $tahoma
		font-size: $small-font-size
		color: $white
		width: 60%
		+xl(width, 80%)
		+lg(width, 100%)