.sliders
	display: flex
	justify-content: space-between
	.swiper
		&-container
			width: 100%
			margin: 0
			&:hover .swiper-menu
				right: 0
		&-wrapper
			height: 455px
		&-slide
			width: 100%
			&.usa-1
				background: url(../img/sliders/usa/slide-1.jpg) center center no-repeat
				background-size: cover
			&.usa-2
				background: url(../img/sliders/usa/slide-1.jpg) center center no-repeat
				background-size: cover
			&.usa-3
				background: url(../img/sliders/usa/slide-1.jpg) center center no-repeat
				background-size: cover
			&.eu-1
				background: url(../img/sliders/eu/slide-1.jpg) center center no-repeat
				background-size: cover
			&.eu-2
				background: url(../img/sliders/eu/slide-1.jpg) center center no-repeat
				background-size: cover
			&.eu-3
				background: url(../img/sliders/eu/slide-1.jpg) center center no-repeat
				background-size: cover
			&.caribs-1
				background: url(../img/sliders/caribs/slide-1.jpg) center center no-repeat
				background-size: cover
			&.caribs-2
				background: url(../img/sliders/caribs/slide-1.jpg) center center no-repeat
				background-size: cover
			&.caribs-3
				background: url(../img/sliders/caribs/slide-1.jpg) center center no-repeat
				background-size: cover
		&-btn
			position: absolute
			bottom: 0
			left: 0
			height: 245px
			width: 60%
			background: rgba(0, 0, 0, 0.5)
			z-index: 2
			.heading
				color: $white
			.title
				color: $white
		&-menu
			position: absolute
			right: -100vw
			top: 0
			height: 455px
			width: 40%
			background: rgba(0, 0, 0, 0.75)
			z-index: 2