block script
	script(src="js/scripts.min.js")
footer.footer
	.footerMenuContainer
		.footerTop
			a(href="#").footerTop__logo
				img(src="img/owclogo.png", alt="alt")
			.footerTop__btn
				a(href="#").btn-gold.btn-gold_head Заказать услугу
				.footerTop__social
					a(href="#").btn-social
						img(src="img/icons/instagram.png", alt="alt")
					a(href="#").btn-social
						img(src="img/icons/facebook.png", alt="alt")
					a(href="#").btn-social
						img(src="img/icons/youtube.png", alt="alt")
				a(href="#").btn-gold.btn-gold_head Заказать консультацию
		.footerMenu
			nav.footerMenu__navigation
				ul
					li
						a(href="#") О нас
					li
						a(href="#") Услуги
					li
						a(href="#") Программы
					li
						a(href="#") Контакты
			address.footerMenu__phone
					span.footerMenu__phone-one +7 (906) 311-25-44
					span.footerMenu__phone-two +7 (499) 450-60-20
	.wrapper-fluid
		.footerContainer
			.footerColumn.footerColumnMenu
				ul.footerColumnMenu__item
					li
						a(href="#") О нас
					li
						a(href="#") Услуги
					li
						a(href="#") Программы
					li
						a(href="#") Контакты
			.footerColumn
				ul.footerColumn__item
					li
						h3.footerColumn__title США
					li
						h3.footerColumn__heading Иммиграционные визы/Грин-карты
						ul.menu-down
							li
								a(href="#") EB-5
							li
								a(href="#") EB-1c
							li
								a(href="#") EB-2/EB-3
							li
								a(href="#") EB-1a
				ul.footerColumn__down
					li
						h3.footerColumn__heading Неиммиграционные визы
						ul.menu-down
							li
								a(href="#") L-1
							li
								a(href="#") E-2
							li
								a(href="#") H-1B
							li
								a(href="#") O-1
							li
								a(href="#") B1/B2
			.footerColumn
				ul.footerColumn__item
					li
						h3.footerColumn__title Страны EC
					li
						h3.footerColumn__heading ВНЖ и ПМЖ
						ul.menu-down
							li
								a(href="#") Италия
							li
								a(href="#") Франция
							li
								a(href="#") Испания
							li
								a(href="#") Португалия
							li
								a(href="#") Греция
				ul.footerColumn__down
					li
						h3.footerColumn__heading Гражданство
						ul.menu-down
							li
								a(href="#") Великобритания
							li
								a(href="#") Кипр
							li
								a(href="#") Мальта
							li
								a(href="#") Болгария
							li
								a(href="#") Польша
							li
								a(href="#") Румыния
			.footerColumn
				ul.footerColumn__item
					li
						h3.footerColumn__title Карибы
					li
						h3.footerColumn__heading Гражданство
						ul.menu-down
							li
								a(href="#") Антигуа и Барбуда
							li
								a(href="#") Гренада
							li
								a(href="#") Сент-Китс и Невис
							li
								a(href="#") Доминика
							li
								a(href="#") Сент-Люсия
			.footerColumn
				ul.footerColumn__item
					li
						h3.footerColumn__title Что вы ожидаете от переезда?
						ul.menu-down
							li
								a(href="#") Работа
							li
								a(href="#") Образование
							li
								a(href="#") Развитие бизнеса
							li
								a(href="#") Спокойное созерцание
							li
								a(href="#") Подобрать программу индивидуально
			.footerColumn.footerColumnDown
				.footerDown
					.footerDown__btn
						a(href="#").btn-gold.btn-gold_head Заказать услугу
						a(href="#").btn-gold.btn-gold_head Заказать консультацию
					.footerDown__phone
						span.footerDown__phone-one +7 (906) 311-25-44
						span.footerDown__phone-two +7 (499) 450-60-20
					.footerDown__social
						a(href="#").btn-social
							img(src="img/icons/instagram.png", alt="alt")
						a(href="#").btn-social
							img(src="img/icons/facebook.png", alt="alt")
						a(href="#").btn-social
							img(src="img/icons/youtube.png", alt="alt")
					a(href="#").footerDown__logo
						img(src="img/owclogo.png", alt="alt")