/* Общие стили кнопок */
.btn-gold
	display: inline-block
	font-family: $tahoma
	font-weight: normal
	font-size: 18px
	line-height: 6px
	color: $white
	background: $gold
	text-align: center
	padding: 14px 30px
	font-weight: 300
	border-radius: 100px
	height: 40px
	border: 2px solid $gold
	transition: ease .3s
	&:hover
		color: $gold
		background: $white
		transition: ease .3s
	&_head
		/* Кнопки в шапке */
		font-family: $gotham
		font-size: 14px
		font-weight: 700
		text-transform: uppercase
		line-height: 8px
	&_clear
		/* Прозрачные кнопки */
		color: $gold
		background: transparent
		&:hover
			color: $white
			background: $gold
	&_position
		/* Местоположение кнопки в слайдере */
		position: absolute
		bottom: 55px
		left: 19px
		// +xl(left, 5px)
		+lg-block
			text-align: center
			left: 50%
			margin-left: -106px
/* Навигация по Визовым услугам */
.navBtn
	display: flex
	justify-content: center
	align-items: center
	+lg-block
		flex-direction: column
	.btn-gold_visa
		margin: 10px
		+lg-block
			&:first-child
				order: 1

/* Социальные кнопки */
.btn-social
	img
		width: 30px
		height: 30px
/* Таблица цен */
.tableContent
	font-family: $gotham
	margin-top: 50px
	margin-bottom: 50px
	border: 1px solid #CF9E41
	table
		width: 100%
		border-collapse: collapse
		caption
			margin-bottom: 10px
			h4
				margin: 10px 0
				padding: 0 10px
				font-size: 18px
				text-align: center
				font-weight: 700
			span
				display: block
				margin: 0 auto
				text-align: center
				padding: 5px 10px
				font-size: 12px
				color: #474444
		thead
			background: #CF9E41
			th
				font-size: 18px
				padding: 10px 0
				color: $white
		tbody
			tr
				border-bottom: 1px solid #CF9E41
				&:last-child
					border-bottom: none
			td
				text-align: center
				padding: 10px 10px
				color: $black
				border-left: 1px solid #CF9E41
				&:first-child
					text-align: left
					border-left: none
				span
					font-size: 12px
