.btn-gold
	font-family: $tahoma
	color: $white
	font-size: $tiny-font-size
	font-weight: normal
	background: $gold
	text-align: center
	text-transform: uppercase
	padding: 14px 30px
	font-weight: 300
	border-radius: 100px
	width: 200px
	border: 2px solid $gold
	transition: ease .3s
	&:hover
		color: $gold
		background: $white
		transition: ease .3s
	&__position
		position: absolute
		bottom: 55px
		left: 19px
	&__big
		width: 260px
.btn-social
	img
		width: 30px
		height: 30px