// Navigation
.headerContainer
	.headerTop
		a(href="#").headerTop__logo
			img(src="img/owclogo.png", alt="alt")
		.headerTop__btn
			a(href="#").btn-gold.btn-gold_head Заказать услугу
			.headerTop__social
				a(href="#").btn-social
					img(src="img/icons/instagram.png", alt="alt")
				a(href="#").btn-social
					img(src="img/icons/facebook.png", alt="alt")
				a(href="#").btn-social
					img(src="img/icons/youtube.png", alt="alt")
			a(href="#").btn-gold.btn-gold_head Заказать консультацию
		.headerTop__burger
				span.line
	.headerMenu
		nav.headerMenu__navigation
			ul
				li
					a(href="#") О нас
				li
					a(href="#") Услуги
				li
					a(href="#") Программы
				li
					a(href="#") Контакты
		.headerMobileBtn
			a(href="#").btn-gold.btn-gold_head Заказать услугу
			.headerMobileBtn__social
				a(href="#").btn-social
					img(src="img/icons/instagram.png", alt="alt")
				a(href="#").btn-social
					img(src="img/icons/facebook.png", alt="alt")
				a(href="#").btn-social
					img(src="img/icons/youtube.png", alt="alt")
			a(href="#").btn-gold.btn-gold_head Заказать консультацию
		address.headerMenu__phone
				span.headerMenu__phone-one +7 (906) 311-25-44
				span.headerMenu__phone-two +7 (499) 450-60-20