//Slider
.headerSliders
	.swiper-container.slider_one
		.swiper-wrapper
			.swiper-slide.usa-1
			.swiper-slide.usa-2
			.swiper-slide.usa-3
		.swiper-btn
			h3.heading США
			h2.title Как получить гражданство США гражданину России
			a(href="#").btn-gold.btn-gold__position Узнать подробнее
		.swiper-menu
			ul
				li
					a(href="#") Иммиграционные визы/Грин-карты
					ul.menu-down
						li
							a(href="#") EB-5
						li
							a(href="#") EB-1c
						li
							a(href="#") EB-2/EB-3
						li
							a(href="#") EB-1a
			ul
				li
					a(href="#") Неиммиграционные визы
					ul.menu-down
						li
							a(href="#") L-1
						li
							a(href="#") E-2
						li
							a(href="#") H-1B
						li
							a(href="#") O-1
						li
							a(href="#") B1/B2
	.swiper-container.slider_two
		.swiper-wrapper
			.swiper-slide.eu-1
			.swiper-slide.eu-2
			.swiper-slide.eu-3
		.swiper-btn
			h3.heading Страны ЕС
			h2.title ВНЖ, ПМЖ и гражданство в Европе
			a(href="#").btn-gold.btn-gold__position Узнать подробнее
		.swiper-menu
			ul
				li
					a(href="#") ВНЖ и ПМЖ
					ul.menu-down
						li
							a(href="#") Италия
						li
							a(href="#") Франция
						li
							a(href="#") Испания
						li
							a(href="#") Португалия
						li
							a(href="#") Греция
			ul
				li
					a(href="#") Гражданство
					ul.menu-down
						li
							a(href="#") Великобритания
						li
							a(href="#") Кипр
						li
							a(href="#") Мальта
						li
							a(href="#") Болгария
						li
							a(href="#") Польша
						li
							a(href="#") Румыния
	.swiper-container.slider_three
		.swiper-wrapper
			.swiper-slide.caribs-1
			.swiper-slide.caribs-2
			.swiper-slide.caribs-3
		.swiper-btn
			h3.heading Карибы
			h2.title Иммиграционные программы Карибских островов
			a(href="#").btn-gold.btn-gold__position Узнать подробнее
		.swiper-menu
			ul
				li
					a(href="#") Гражданство
					ul.menu-down
						li
							a(href="#") Антигуа и Барбуда
						li
							a(href="#") Гренада
						li
							a(href="#") Сент-Китс и Невис
						li
							a(href="#") Доминика
						li
							a(href="#") Сент-Люсия