@import "variables.sass";
@import "smart-grid.sass";
/* Swiper */
@import "sass-libs/swiper.scss";
/* Interface */
@import "modules/navigation/interface.sass";
/* New Header Block */
@import "modules/header/new-header.sass";
/* Slider Block */
@import "modules/blocks/slider.sass";
/* Relocation Block */
@import "modules/blocks/relocation.sass";
/* Review Block */
@import "modules/blocks/review.sass";
/* Work Block */
@import "modules/blocks/work.sass";
/* Programm Block */
@import "modules/blocks/programm.sass";
/* New Programm Block */
@import "modules/blocks/new-programm.sass";
/* Programm-content */
@import "modules/blocks/programm-content.sass";
/* Step-slider */
@import "modules/blocks/step-slider.sass";
/* Features */
@import "modules/blocks/features.sass";
/* Call-us */
@import "modules/blocks/call-us.sass";
/* Description Block */
@import "modules/blocks/description.sass";
/* Description Block */
@import "modules/blocks/tabs-programm.sass";
/* Blog Block */
@import "modules/blocks/blog.sass";
/* List Posts Block */
@import "modules/blocks/posts.sass";
/* Single Post Block */
@import "modules/blocks/post.sass";
/* Contacts Block */
@import "modules/blocks/contacts.sass";
/* 404 Error Block */
@import "modules/blocks/404.sass";
/* New Footer Block */
@import "modules/footer/new-footer.sass";

/** Wysiwyg **/
@import "modules/blocks/wysiwyg.sass";
/** Elements **/
@import "modules/blocks/elements.sass";
/** Classes **/
@import "modules/blocks/classes.sass";
/* Normalize */
@import "normalize.sass";
/* Fonts */
@import "font.sass";

html
	font-size: $base-font-size
	overflow-x: hidden

body
	background-color: #ffffff
	font-family: Tahoma,'Gotham Pro', sans-serif
	font-size: $base-font-size
	overflow-x: hidden

.wrapper
	+wrapper()

.wrapper-fluid
	+wrapper-full()

.main
	position: relative
	z-index: 10