@import "variables.sass"
@import "smart-grid.sass"
/* Swiper */
@import "sass-libs/swiper.scss"
/* Interface */
@import "modules/navigation/interface.sass"
/* Header */
@import "modules/header/header.sass"
/* Slider */
@import "modules/blocks/slider.sass"
/* Relocation Block */
@import "modules/blocks/relocation.sass"
/* Review Block */
@import "modules/blocks/review.sass"

/* Normalize */
@import "normalize.sass"
/* Fonts */
@import "font.sass"


html
	font-size: $base-font-size

body
	background-color: $white
	font-family: Tahoma,'Gotham Pro', sans-serif
	font-size: $base-font-size

.wrapper
	+wrapper()

.wrapper-fluid
	+wrapper-full()

// .debug
// 	+debug(rgba(0, 0, 0, 0.3), 1px solid rgb(19, 138, 92))