// Action Popup
.actionPopup
	.actionModal
		.actionModal__container
			.actionModal__img
				img(src="img/action-modal.png", alt="alt")
			.actionModal__text
				p *Билет предоставляется только заявителю или членам его семьи (ребенку, супругу/е). Компания оставляет за собой право подбора и приобретения билета, выбора авиакомпании, рейса (чартерного или регулярного), класс перелета "эконом". После согласования даты и подтверждения покупки билетов, изменения и дополнения в билеты невозможно/запрещены, в случае отказа от перелета билет аннулируется без возможности использования или повторного бронирования иных билетов. Билет/ы могут быть переданы клиенту любым законным способом, в том числе посредством электронной передачи (электронные билеты в мессенджерах или на электронную почту) на номер телефона или адрес, который предоставит клиент. Компания оставляет за собой право изменения даты предполагаемой поездки на этапе подбора билетов, с предварительным согласованием с клиентом и предложением иных ближайших дат на выбор клиента.
				h5 Принять участие:
			.actionModal__form
				form
					input(type="text" placeholder="Имя")
					input(type="text" placeholder="E-mail")
					input(type="tel" placeholder="Телефон")
					input(type="submit" value="Отправить заявку").btn-gold

