section.programm
	.programmHead
		.programmHead__wrapp
			h2.programmHead__title Отзывы и советы наших клиентов
	.wrapper-fluid
		.programmVideo
			a(href="#").programmVideo__container
				img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
				.programmVideo__title ВНЖ Испания
			a(href="#").programmVideo__container
				img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
				.programmVideo__title ВНЖ Франция
			a(href="#").programmVideo__container
				img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
				.programmVideo__title ВНЖ Италия
			a(href="#").programmVideo__container
				img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
				.programmVideo__title Гражданство Доминикана
			a(href="#").programmVideo__container
				img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
				.programmVideo__title Гражданство Великобритании
			a(href="#").programmVideo__container
				img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
				.programmVideo__title Гражданство Румынии
	.programmBtn
		a(href="#").btn-gold.btn-gold_clear Узнать больше