section.programm
	.programmHead
		.programmHead__wrapp
			h2.programmHead__title Востребованные программы
	.wrapper-fluid
		.programmCart
			a(href="#").programmCart__container
				img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
				.programmCart__title ВНЖ Испания
			a(href="#").programmCart__container
				img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
				.programmCart__title ВНЖ Франция
			a(href="#").programmCart__container
				img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
				.programmCart__title ВНЖ Италия
			a(href="#").programmCart__container
				img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
				.programmCart__title Гражданство Доминикана
			a(href="#").programmCart__container
				img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
				.programmCart__title Гражданство Великобритании
			a(href="#").programmCart__container
				img(src="https://dummyimage.com/600x400/000/fff", alt="alt")
				.programmCart__title Гражданство Румынии
	.programmBtn
		a(href="#").btn-gold.btn-gold_clear Узнать больше