section.relocation
	.relocationContainer
		.relocationContainer__title
			h2 Что вы ожидаете от переезда?
		.relocationContainer__btn
			a(href="#").btn-gold Работа
			a(href="#").btn-gold Образование
			a(href="#").btn-gold Развитие бизнеса
			a(href="#").btn-gold Подобрать программу
			a(href="#").btn-gold Спокойное созерцание
		.relocationContainer__text
			h2.relocationContainer__heading One World Click
			p.relocationContainer__descr Мы предлагаем комплекс программ иммиграции в США, ЕС и страны Карибского бассейна. Подбираем программу индивидуально для каждого клиента. Оформляем вид на жительство в страны ЕС. Инвестиционная иммиграция в США, ЕС и на Карибы. Собственный визовый центр – оформление неиммиграционных виз в любую страну мира.