section.review
	.reviewHead
		.reviewHead__wrapp
			h2.reviewHead__title Отзывы и советы наших клиентов
	.wrapper-fluid
		.reviewVideo
			.reviewVideo__container
				iframe(width="100%" height="300" src="https://www.youtube.com/embed/cEz1fq1-IEw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				.reviewVideo__title Переезд в Испанию. История Нонны.
			.reviewVideo__container
				iframe(width="100%" height="300" src="https://www.youtube.com/embed/cEz1fq1-IEw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				.reviewVideo__title Инвестиции в США. История Анны.
			.reviewVideo__container
				iframe(width="100%" height="300" src="https://www.youtube.com/embed/cEz1fq1-IEw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				.reviewVideo__title Как найти работу во Франции История Алексея.
	.reviewBtn
		a(href="#").btn-gold.btn-gold_clear Узнать больше